{% load static %}
body{
    background-image: url("../voda.jpg");
}

a {
    color: darkorange;
    font-weight: 700;
    text-shadow: none;
  text-decoration: none;
}

a::before {
    color: indianred;
    content: attr(data-hover);
    position: absolute;
    transition: transform 0.3s, opacity 0.3s;
}

a:hover,
a:focus{
    transform: scale(0.9);
    opacity: 0;
  color: navajowhite;
}
form{
        background: azure;
    border: blue;
    border-radius: 10px;
}

input#inp{
    alignment: right;
  text-decoration: none;
  outline: none;
  display: inline-block;
  color: white;
  padding: 20px 30px;
    border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
  transition: .5s;
}
input#inp:hover {background-position: right center;}

